  .Rel贸gio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: white;
    background: rgba(5, 5, 5, 0.9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

.Rel贸gio span.tempo {
    font-size: 30px;
}

.Rel贸gio span.Minutos {
    font-size: 30px;
}

.Rel贸gio span.Segundos {
    font-size: 30px;
}
