body {
  height: 100vh;
  background: linear-gradient(120deg, red, yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} 
.relogio {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: white;
  background-color: rgba(5, 5, 5, 0.9);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  padding: 20px;
}
.relogio div {
  height: 170px;
  width: 150px;
  display: flex;
  flex-direction: column;
 }
.relogio span.tempo {
    font-size: 30px;
}

.relogio span.Minutos {
    font-size: 30px;
}
.relogio span.Segundos {
    font-size: 30px;
}

