.Relógio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  font-size: 60px;
  color: white;
  background-color: rgba(5, 5, 5, 0.9);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  padding: 20px;
}

.Relógio > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Relógio span.tempo {
    font-size: 30px;
}

.Relógio span.Minutos {
    font-size: 30px;
}

.Relógio span.Segundos {
    font-size: 30px;
}

